.breadcrumbs {
	display: flex;
	gap: 8px;
	margin-top: 10px;
	margin-bottom: 32px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #B5B7BA;

	&__elem {
	}

	&__icon {
		width: 16px;
		height: 16px;
		color: #76797F;
		transform: translateY(2px);
	}

	&__link {
		transition: color $transition-default;

		&:hover {
			color: #000;
		}
	}

	&__text {
	}
}
