.button {
	position: relative;
	z-index: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	border: none;
	background-color: $color-blue;
	padding: 16px 24px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: $color-white;
	text-align: center;
	transition: background-color $transition-default;
	overflow: hidden;

	@media (min-width: 350px) {
		white-space: nowrap;
	}

	@include desktop {
		padding: 16px 24px;
		font-size: 20px;
		line-height: 1.2;
	}

	&__size--md {
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: darken($color-blue, 10%);

		&::before {
			opacity: 0;
		}
	}

	&:active {
		background-color: darken($color-blue, 5%);

		&::before {
			opacity: 0;
		}
	}

	&--size-md {
		@include desktop {
			padding: 12px 23px;
			font-size: 18px;
			line-height: 23px;
		}
	}

	&--with-gradient {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, #009FFA, transparent);
			pointer-events: none;
			content: "";
			transition: opacity $transition-default;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&:disabled {
		background-color: #8A8D93;
		pointer-events: none;

		&::before {
			opacity: 0;
		}
	}
}
