.header {
	width: 100%;

	&--full {
		z-index: 888;
		top: 0;
		left: 0;

		@include desktop {
			position: fixed;
			background-color: $color-white;
		}
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;

		@include desktop {
			padding-top: 28px;
			padding-bottom: 28px;
			justify-content: space-between;
		}
	}

	&__logo {
		flex-shrink: 0;
		display: block;
		width: 100%;
		max-width: 148px;

		@include desktop {
			max-width: 260px;
		}
	}

	&__nav {
		display: none;
		align-items: center;
		gap: 32px;

		@include desktop {
			display: flex;
		}
	}

	&__nav-list {
		display: flex;
		gap: 12px;

		@media (min-width: 960px) {
			gap: 24px;
		}
	}

	&__nav-elem {
	}

	&__nav-link {
		font-size: 18px;
		line-height: 1.4;
		font-weight: 500;
		color: #000;
	}

	&__btn {
	}
}
