.section-portfolio {
	padding-top: 40px;
	padding-bottom: 40px;

	&__title {
		margin-bottom: 40px;
	}

	&__grid {
		display: grid;
		grid-template: auto / repeat(2,minmax(0,1fr));
		grid-gap: 24px;
	}

	&__elem {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-radius: 22px;
		background-color: #fff;
	}

	&__elem-header {
		padding: 24px;
	}

	&__elem-title {
		margin-bottom: 8px;
		font-size: 24px;
		line-height: 1.14;
		font-weight: 700;
		color: #000;
	}

	&__elem-text {
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		color: #5C5C5C;
	}

	&__elem-img {
		display: block;
		width: 100%;
		margin-top: auto;
	}
}
