.section-hero {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;

	@include tablet {
		padding-top: 40px;
	}

	@include desktop {
		padding-top: 120px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 10px;

		@include tablet {
			margin-bottom: 10px;
		}

		@include desktop {
			margin-bottom: 0;
		}
	}

	&__text {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 500;

		@include tablet {
			margin-bottom: 28px;
			font-size: 16px;
			line-height: 20px;
		}

		@include desktop {
			margin-bottom: 16px;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__illustration {
		position: relative;
		margin-bottom: 30px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		&::before {
			display: block;
			padding-top: 89%;
			content: "";
		}

		@include tablet {
			max-width: 100%;
			margin-bottom: 20px;

			&::before {
				padding-top: 34.6%;
			}
		}

		@include desktop {
			margin-bottom: -30px;
		}
	}

	&__img {
		position: absolute;

		&--n1 {
			top: 6%;
			left: -2.9%;
			width: 59.8%;
			transform: rotate(-18.82deg);

			@include tablet {
				left: -1%;
				width: 33.3%;
			}

			@include desktop {
				left: 0;
				width: 31.3%;
			}
		}

		&--n2 {
			top: 44.6%;
			left: 3.4%;
			width: 55.4%;
			transform: rotate(3.68deg);

			@include tablet {
				top: -3%;
				left: 25.5%;
				width: 34.9%;
				transform: rotate(-4.32deg);
			}

			@include desktop {
				top: 0.9%;
				left: 26%;
				width: 31.8%;
			}
		}

		&--n3 {
			top: 3%;
			left: 51.2%;
			width: 44.7%;
			transform: rotate(16.83deg);

			@include tablet {
				top: 4%;
				left: 50.6%;
				width: 25.5%;
			}

			@include desktop {
				top: 4%;
				left: 52.2%;
				width: 23.7%;
			}
		}

		&--n4 {
			top: 36%;
			left: 51.5%;
			width: 47.8%;
			transform: rotate(-10.89deg);

			@include tablet {
				top: 2.5%;
				left: 72.3%;
				width: 28.4%;
			}

			@include desktop {
				top: 4.3%;
				left: 72.1%;
				width: 26.2%;
			}
		}

		&--s1 {
			top: 14.4%;
			left: 40.8%;
			width: 18.67%;
			transform: rotate(-21.07deg);

			@include tablet {
				top: -0.6%;
				left: 28.1%;
				width: 6.67%;
			}

			@include desktop {
				top: 2.4%;
				left: 27.1%;
				width: 6.67%;
			}
		}

		&--s2 {
			top: 77.9%;
			left: 41%;
			width: 18%;
			transform: rotate(-9.57deg);

			@include tablet {
				top: 73.3%;
				left: 70.7%;
				width: 6%;
			}

			@include desktop {
				top: 75.3%;
				left: 69.2%;
				width: 6%;
			}
		}
	}
}
