.section-portfolio {
	padding-top: 20px;
	padding-bottom: 30px;

	@include tablet {
		padding-top: 30px;
	}

	@include desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 24px;

		@include desktop {
			margin-bottom: 40px;
		}
	}

	&__slider-box {
		width: calc(100% + 32px);
		margin-left: -16px;

		@include tablet {
			width: 100%;
			margin-left: 0;
		}
	}

	&__slider {
		margin-bottom: 24px;
		padding-left: 16px;

		@include tablet {
			padding-left: 0;
		}


		@include desktop {
			margin-bottom: 0;
		}
	}

	&__grid {
		@include desktop {
			display: grid;
			grid-template: auto / repeat(2,minmax(0,1fr));
			grid-gap: 24px;
		}
	}

	&__elem {
		display: flex;
		flex-direction: column;
		height: auto;
		border-radius: 16px;
		background-color: #fff;

		@include desktop {
			width: 100% !important;
			height: 100%;
			border-radius: 22px;
		}
	}

	&__elem-header {
		padding: 16px;
		margin-bottom: auto;

		@include desktop {
			padding: 24px;
		}
	}

	&__elem-title {
		margin-bottom: 8px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #000;

		@include desktop {
			font-size: 24px;
			line-height: 1.14;
		}

		br {
			@include desktop {
				display: none;
			}
		}
	}

	&__elem-text {
		font-size: 16px;
		line-height: 21px;
		font-weight: 500;
		color: #5C5C5C;

		@include desktop {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__elem-img {
		display: block;
		width: 100%;
		margin-top: auto;
	}

	&__dots {
		@include desktop {
			display: none;
		}
	}
}
