.section-photo {
	padding-top: 20px;
	padding-bottom: 30px;

	@include tablet {
		padding-top: 30px;
	}

	@include desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 24px;
		@include desktop {
			margin-bottom: 40px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		border-radius: 12px;

		@include desktop {
			border-radius: 22px;
		}
	}

	&__thumb-slide {
		border: 4px solid transparent;
		border-radius: 8px;
		overflow: hidden;
		cursor: pointer;
		transition: border-color .3s;

		@include desktop {
			border-radius: 16px;
		}

		&:hover {
			border-color: rgba(#0239FF, .7);
		}

		&--active {
			border-color: #0239FF !important;
		}
	}

	&__thumb {
		display: block;
		width: 100%;
	}

	&__slider-main {
		margin-bottom: 4px;

		@include tablet {
			margin-bottom: 6px;
		}

		@include desktop {
			max-width: 750px;
			margin-bottom: 16px;
		}
	}
}
