body {
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;

	@include desktop {
		font-size: 18px;
	}
}

input, button, textarea {
	font-family: inherit;
}

.heading1 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 700;
	color: $color-black;

	@include desktop {
		font-size: 60px;
		line-height: 68px;
		letter-spacing: -0.02em;
	}
}

.heading2 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 700;
	color: $color-black;

	@include desktop {
		font-size: 44px;
		line-height: 1.1;
		letter-spacing: -0.005em;
	}

	&--with-dot {
		position: relative;
		display: flex;
		align-items: center;
		gap: 8px;

		&::before {
			display: block;
			width: 12px;
			height: 12px;
			background-color: #FF0A0A;
			border-radius: 50%;
			content: "";
		}

		@include tablet {
			&::before {
				width: 12px;
				height: 12px;
			}
		}

		@include desktop {
			&::before {
				position: absolute;
				top: 50%;
				left: -26px;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
			}
		}
	}
}

.heading3 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: $color-black;

	@include desktop {
		line-height: 1.14;
	}
}
